@import 'ui-colors';

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 4px;
  font-size: 13px;
  
  @media (prefers-color-scheme: light) {
    color: $primary-text-light;
    background-color: $content-box-background-light;
  }
  @media (prefers-color-scheme: dark) {
    color: $primary-text-dark;
    background-color: $content-box-background-dark;
  }
}

@mixin btn-states {
  &:hover {
    background-color: $btn-hover;
  }

  &:active {
    background-color: $btn-pressed;
    box-shadow: none;
  }

  &:focus {
    @include shadow-override;
  }

  &:focus-visible {
    @include blue-box-shadow;
  }
}

@mixin blue-box-shadow {
  box-shadow: 0 0 0 1px $btn-focus-A inset,
              0 0 0 1px $btn-focus-A,
              0 0 0 4px $btn-focus-B
}

@mixin shadow-override {
  outline: none;
  box-shadow: none;
}

@mixin input-style {

  @media (prefers-color-scheme: light) {
    color: $primary-text-light;
    background-color: $element-bg-color-light;
    border-color: $grey-90-a20;
  }
  @media (prefers-color-scheme: dark) {
    color: $primary-text-dark;
    background-color: $element-bg-color-dark;
    border-color: $grey-10-a20;
  }

  border-radius: 2px;
  border: 1px solid;

  width: auto;

  outline: none;

  &:hover {
    @media (prefers-color-scheme: light) {
      border-color: $grey-90-a30;
    }
    @media (prefers-color-scheme: dark) {
      border-color: $grey-10-a40;
    }
  }

  &:focus {
    border-color: $blue-50;
    box-shadow: 0 0 0 1px $btn-focus-A,
                0 0 0 4px $btn-focus-B;
  }

  &:invalid {
    border-color: $red-60;
    box-shadow: 0 0 0 1px $btn-error-A,
                0 0 0 4px $btn-error-B;
  }

  &::placeholder {
    color: $grey-50;
  }
}

button {
  color: $btn-text;
  background-color: $btn-background;

  font-size: 13px;
  font-weight: 400;
  text-align: center;

  border: none;
  border-radius: 2px;

  padding: 0 8px;
  height: 32px;
  width: auto;
  min-width: 10rem;

  @include btn-states;
}

input[type='checkbox'] {
  appearance: none;

  height: 16px;
  width: 16px;
  padding: 1px;
  margin: 4px 4px 4px 0;

  border-radius: 2px;
  border: 1px solid;

  @media (prefers-color-scheme: light) {
    background-color: $grey-90-a10;
    border-color: $grey-90-a20;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $grey-10-a10;
    border-color: $grey-10-a20;
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $grey-90-a20;
    }
    @media (prefers-color-scheme: dark) {
      background-color: $grey-10-a20;
    }
  }

  &:active {
    @media (prefers-color-scheme: light) {
      background-color: $grey-90-a30;
    }
    @media (prefers-color-scheme: dark) {
      background-color: $grey-10-a40;
    }
  }

  &:focus {
    @include shadow-override;
  }

  &:focus-visible {
    @include blue-box-shadow;
  }

  &:checked {
    background-image: url('../../resources/icons/checkbox-check-16.svg');
    background-position: center;
    height: 16px;
    width: 16px;
    border: none;
    background-color: $btn-background;

    @include btn-states;
  }
}

input[type='radio'] {
  @extend [type='checkbox'];

  border-radius: 100%;

  &:checked {
    background-image: url('../../resources/icons/radiobutton-marker-16.svg');
  }
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

form > div {
  margin-bottom: 12px;
}

.inputField {
  display: flex;
  flex-direction: column;

  width: 30rem;
  margin: 8px 0;

  label {
    margin-bottom: 8px;
  }

  input {
    @include input-style;

    padding: 0 8px;

    height: 32px;
  }

  textarea {
    @include input-style;

    padding: 8px 8px;

    resize: none;
  }
}

.controlPanel {
  display: flex;
  flex-direction: column;

  p {
    margin: 8px 0;
  }

  .toggle {
    display: flex;
    align-items: center;

    label {
      margin: 4px 4px 4px 8px;
    }
  }
}

.savePanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.status {
  visibility: hidden;
}

#soundInput {
  .toggle {
    margin-left: 8px;
  }
}

.showMessage {
  animation: 3s showMessageAnimation;
}

@keyframes showMessageAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

.versionNumber {
  font-weight: bold;

  &::before {
    content: "Version ";
  }
}

.versionDescription {
  margin: 0.5rem 0 1rem 2rem;
}