/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* Photon Colors SCSS Variables v3.2.0 */
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  font-size: 13px;
}
@media (prefers-color-scheme: light) {
  html,
body {
    color: #0c0c0d;
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  html,
body {
    color: #ffffff;
    background-color: #202023;
  }
}

button {
  color: #ffffff;
  background-color: #0060df;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 0 8px;
  height: 32px;
  width: auto;
  min-width: 10rem;
}
button:hover {
  background-color: #003eaa;
}
button:active {
  background-color: #002275;
  box-shadow: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
button:focus-visible {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type=checkbox], input[type=radio] {
  appearance: none;
  height: 16px;
  width: 16px;
  padding: 1px;
  margin: 4px 4px 4px 0;
  border-radius: 2px;
  border: 1px solid;
}
@media (prefers-color-scheme: light) {
  input[type=checkbox], input[type=radio] {
    background-color: rgba(12, 12, 13, 0.1);
    border-color: rgba(12, 12, 13, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  input[type=checkbox], input[type=radio] {
    background-color: rgba(249, 249, 250, 0.1);
    border-color: rgba(249, 249, 250, 0.2);
  }
}
@media (prefers-color-scheme: light) {
  input[type=checkbox]:hover, input[type=radio]:hover {
    background-color: rgba(12, 12, 13, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  input[type=checkbox]:hover, input[type=radio]:hover {
    background-color: rgba(249, 249, 250, 0.2);
  }
}
@media (prefers-color-scheme: light) {
  input[type=checkbox]:active, input[type=radio]:active {
    background-color: rgba(12, 12, 13, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  input[type=checkbox]:active, input[type=radio]:active {
    background-color: rgba(249, 249, 250, 0.4);
  }
}
input[type=checkbox]:focus, input[type=radio]:focus {
  outline: none;
  box-shadow: none;
}
input[type=checkbox]:focus-visible, input[type=radio]:focus-visible {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
input[type=checkbox]:checked, input[type=radio]:checked {
  background-image: url("../../resources/icons/checkbox-check-16.svg");
  background-position: center;
  height: 16px;
  width: 16px;
  border: none;
  background-color: #0060df;
}
input[type=checkbox]:checked:hover, input[type=radio]:checked:hover {
  background-color: #003eaa;
}
input[type=checkbox]:checked:active, input[type=radio]:checked:active {
  background-color: #002275;
  box-shadow: none;
}
input[type=checkbox]:checked:focus, input[type=radio]:checked:focus {
  outline: none;
  box-shadow: none;
}
input[type=checkbox]:checked:focus-visible, input[type=radio]:checked:focus-visible {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type=radio] {
  border-radius: 100%;
}
input[type=radio]:checked {
  background-image: url("../../resources/icons/radiobutton-marker-16.svg");
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form > div {
  margin-bottom: 12px;
}

.inputField {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 8px 0;
}
.inputField label {
  margin-bottom: 8px;
}
.inputField input {
  border-radius: 2px;
  border: 1px solid;
  width: auto;
  outline: none;
  padding: 0 8px;
  height: 32px;
}
@media (prefers-color-scheme: light) {
  .inputField input {
    color: #0c0c0d;
    background-color: #f9f9fa;
    border-color: rgba(12, 12, 13, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  .inputField input {
    color: #ffffff;
    background-color: #2a2a2e;
    border-color: rgba(249, 249, 250, 0.2);
  }
}
@media (prefers-color-scheme: light) {
  .inputField input:hover {
    border-color: rgba(12, 12, 13, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  .inputField input:hover {
    border-color: rgba(249, 249, 250, 0.4);
  }
}
.inputField input:focus {
  border-color: #0a84ff;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
.inputField input:invalid {
  border-color: #d70022;
  box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(215, 0, 34, 0.3);
}
.inputField input::placeholder {
  color: #737373;
}
.inputField textarea {
  border-radius: 2px;
  border: 1px solid;
  width: auto;
  outline: none;
  padding: 8px 8px;
  resize: none;
}
@media (prefers-color-scheme: light) {
  .inputField textarea {
    color: #0c0c0d;
    background-color: #f9f9fa;
    border-color: rgba(12, 12, 13, 0.2);
  }
}
@media (prefers-color-scheme: dark) {
  .inputField textarea {
    color: #ffffff;
    background-color: #2a2a2e;
    border-color: rgba(249, 249, 250, 0.2);
  }
}
@media (prefers-color-scheme: light) {
  .inputField textarea:hover {
    border-color: rgba(12, 12, 13, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  .inputField textarea:hover {
    border-color: rgba(249, 249, 250, 0.4);
  }
}
.inputField textarea:focus {
  border-color: #0a84ff;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
.inputField textarea:invalid {
  border-color: #d70022;
  box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(215, 0, 34, 0.3);
}
.inputField textarea::placeholder {
  color: #737373;
}

.controlPanel {
  display: flex;
  flex-direction: column;
}
.controlPanel p {
  margin: 8px 0;
}
.controlPanel .toggle {
  display: flex;
  align-items: center;
}
.controlPanel .toggle label {
  margin: 4px 4px 4px 8px;
}

.savePanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.status {
  visibility: hidden;
}

#soundInput .toggle {
  margin-left: 8px;
}

.showMessage {
  animation: 3s showMessageAnimation;
}

@keyframes showMessageAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
ul {
  padding: 0 0 0 1rem;
}
ul li {
  list-style: none;
}

.versionNumber {
  font-weight: bold;
}
.versionNumber::before {
  content: "__MSG_label_version__ ";
}

.versionDescription {
  margin: 0.5rem 0 1rem 2rem;
}
