@import 'photon-colors';

$content-box-background-light: $white-100;
$bg-color-light: $grey-10;
$element-bg-color-light: $grey-10;
$primary-text-light: $grey-90;
$secondary-text-light: $grey-50;

$content-box-background-dark: #202023;
$bg-color-dark: $grey-70;
$element-bg-color-dark: $grey-80;
$primary-text-dark: $white-100;
$secondary-text-dark: $grey-10;

$btn-text: $white-100;
$btn-background: $blue-60;
$btn-hover: $blue-70;
$btn-pressed: $blue-80;
$btn-focus-A: $blue-50;
$btn-focus-B: transparentize($btn-focus-A, 0.7);
$btn-error-A: $red-60;
$btn-error-B: transparentize($btn-error-A, 0.7);